
 <form class="form" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>

    <div class="form-group">
        <label>Content</label>
        <textarea rows="4" cols="50" class="form-control" formControlName="contenido"></textarea>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="ml-3" formControlName="categoria">
            <option [ngValue]="null" disabled>Choose category</option>
            <!-- <option *ngFor="let post of posts" [ngValue]="post">
             {{post.categoria}}
            </option> -->
            <option value="Medioambiente">Medioambiente</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Educación">Educación</option>
            <option value="Cultura">Cultura</option>
        </select> 
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="file" class="form-control" formControlName="url_imagen">
    </div>

    <input type="submit" value="POST" class="btn btn-warning btn-block btn-sm" [disabled]="form.invalid || form.pristine">

</form>